{# empty Twig template #}
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Game Mock</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="public/css/bootstrap.min.css" rel="stylesheet" /></head>
<body style="margin-top: 15px; background-color: #f6f6f6"><div class="container"><div class="row">
{% for key, server in app %}
 <div class='pull-left col-md-4'>
    <div class='thumbnail'>
        <div class='caption'>
            <h4>{{ key }}<br><small>{{ server.address }}</small></h4>
            <a class="btn btn-default" href='/getPackages/{{ key }}'>getPackages</a>
            <a class="btn btn-primary" href='/getSpecials/{{ key }}'>getSpecials</a>
            <a class="btn btn-warning" href='/setReceipt/{{ key }}'>setReceipt</a>
        </div>
    </div>
</div>
{% endfor %}
</div></div><script src="public/js/jquery-1.9.1.min.js"></script><script src="public/js/bootstrap.min.js"></script></body></html>
