{# empty Twig template #}
<!DOCTYPE html>
    <head>
        <title>Game Mock</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body style="margin-top: 15px;">
        <div class="container">
            <div class="page-header">
                <h1>
                    {{ name }} <small>({{ method }})</small>
                    <div class="pull-right">
                        <a href="/" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
                        <a href="{{ app.request.requesturi }}" class="btn btn-primary"><span class="glyphicon glyphicon-repeat"></span> Reload</a>
                    </div>
                </h1>
            </div>
            <h5>Calling Params</h5>
            <pre>{{ dump(callingParams) }}</pre>
            <h5>Return Value</h5>
            <pre>{{ dump(returnParams) }}</pre>

        </div>
        <script src="public/js/jquery-1.9.1.min.js"></script>
        <script src="public/js/bootstrap.min.js"></script>
    </body>
</html>
